@import 'variable';

@import './screens/home';

@import '../common/sidebar';

@import '../common/header';

@import '../scss/screens/homepage/homepage.scss';
@import '../scss/screens/homepage/contenthomepage.scss';
@import '../scss/screens/homepage/hashtag.scss';
@import '../scss/screens/homepage/listvideo.scss';

@import '../scss/screens/detailpage/detailpage.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
@import '../scss/screens/search/searchvideo.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
